<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Pharmacy System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/header-nav.css">
    <link rel="stylesheet" href="./css/admin.css" />
    <script>
      let json = localStorage.getItem('info');
      let obj = JSON.parse(json);
      if(json){
        if(obj.pos !== 'admin'){
          location.href = '/'+obj.pos;
        }
      }else{
        location.href = '/login'
      }
    </script>
  </head>
  <body>
    <header>
      <div class="logo-cont">
        <img
          src="./assets/logos/logo.png"
          class="main-logo"
          height="75"
          width="75"
        />
      </div>
      <h1>
        <a href="#">Pharmacy System</a>
      </h1>
    </header>
    <aside>
      <ul class="aside-list">
        <li class="list-item"><a href="#">Dashboard</a></li>
        <li class="list-item"><a href="/admin/pharmacist">Pharmacist</a></li>
        <li class="list-item"><a href="/admin/manager">Manager</a></li>
        <li class="list-item"><a href="/admin/cashier">Cashier</a></li>
        <li class="list-item"><a href="/logout">Logout</a></li>
      </ul>
    </aside>
    <main>
      <div class="grid_7">
        <a href="#" class="dashboard-module">
          <img
            src="./assets/logos/admin-icon.png"
            width="75"
            height="75"
            alt="edit"
          />
          <span>Dashboard</span>
        </a>
        <a href="/admin/pharmacist" class="dashboard-module">
          <img
            src="./assets/logos/pharmacy.png"
            width="75"
            height="75"
            alt="edit"
          />
          <span>Pharmacist</span>
        </a>
        <a href="/admin/manager" class="dashboard-module">
          <img
            src="./assets/logos/manager.png"
            width="75"
            height="75"
            alt="edit"
          />
          <span>Manager</span>
        </a>
        <a href="/admin/cashier" class="dashboard-module">
          <img
            src="./assets/logos/cashier.png"
            width="75"
            height="75"
            alt="edit"
          />
          <span>Cashier</span>
        </a>
      </div>
    </main>
  </body>
</html>
