<!DOCTYPE html>
<html>
  <head>
    <title>Payement | Pharmacy System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/header-nav.css" />
    <link rel="stylesheet" href="./css/main-with-table.css" />
    <link rel="stylesheet" href="./css/payment-form.css">
  </head>
  <body>
    <header>
      <div class="logo-cont">
        <img
          src="./assets/logos/logo.png"
          class="main-logo"
          height="75"
          width="75"
        />
      </div>
      <h1>
        <a href="#">Pharmacy System</a>
      </h1>
    </header>
    <aside>
      <ul class="aside-list">
        <li class="list-item"><a href="cashier.html">Dashboard</a></li>
        <li class="list-item"><a href="cashier-payment.html">Process payment</a></li>
        <li class="list-item"><a href="#">Logout</a></li>
      </ul>
    </aside>
    <main>
      <section class="content">
        <h2 class="title">Process Payment</h2>
        <div class="container">
          <ul class="tabs-list">
            <li class="tab-item active">
              <h3 class="tab-title">Payment</h3>
            </li>
          </ul>
          <div class="form-container">
            <form>
                <input type="text" name="name" class="input" placeholder="Name" required>
                <input type="number" name="invoice-no" class="input" placeholder="Invoice number" required>
                <input type="number" name="cust-id" class="input" placeholder="Customer ID" required>
                <input type="number" name="amount" class="input" placeholder="Amount" required>
                <select class="input" required>
                    <option value="default">Select Payment</option>
                    <option value="default">Net banking</option>
                    <option value="default">UPI</option>
                    <option value="default">PayTM</option>
                </select>
                <input type="number" name="ser-no" class="input" placeholder="Serial number" required>
                <input type="submit" value="PAY">
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
