<!DOCTYPE html>
<html>
  <head>
    <script>
      let json = localStorage.getItem('info');
      let obj = JSON.parse(json);
      if(json){
        if(obj.pos !== 'cashier'){
          location.href = '/'+obj.pos;
        }
      }else{
        location.href = '/login'
      }
    </script>
    <title>Cashier | Pharmacy System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/header-nav.css">
    <link rel="stylesheet" href="./css/admin.css" />
  </head>
  <body>
    <header>
      <div class="logo-cont">
        <img
          src="./assets/logos/logo.png"
          class="main-logo"
          height="75"
          width="75"
        />
      </div>
      <h1>
        <a href="#">Pharmacy System</a>
      </h1>
    </header>
    <aside>
      <ul class="aside-list">
        <li class="list-item"><a href="#">Dashboard</a></li>
        <li class="list-item"><a href="/cashier/bills">View bills</a></li>
        <li class="list-item"><a href="/logout">Logout</a></li>
      </ul>
    </aside>
    <main>
      <div class="grid_7">
        <a href="#" class="dashboard-module">
          <img
            src="./assets/logos/admin-icon.png"
            width="75"
            height="75"
            alt="edit"
          />
          <span>Dashboard</span>
        </a>
        <a href="/cashier/bills" class="dashboard-module">
          <img
            src="./assets/logos/bill.png"
            width="75"
            height="75"
            alt="edit"
          />
          <span>View bills</span>
        </a>
      </div>
    </main>
  </body>
</html>
