<!DOCTYPE html>
<html>
  <head>
    <script>
      let json = localStorage.getItem('info');
      let obj = JSON.parse(json);
      if(json){
        if(obj.pos !== 'manager'){
          location.href = '/'+obj.pos;
        }
      }else{
        location.href = '/login'
      }
    </script>
    <title>View Priscriptions | Pharmacy System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/header-nav.css" />
    <link rel="stylesheet" href="./css/main-with-table.css" />
  </head>
  <body>
    <header>
      <div class="logo-cont">
        <img
          src="./assets/logos/logo.png"
          class="main-logo"
          height="75"
          width="75"
        />
      </div>
      <h1>
        <a href="#">Pharmacy System</a>
      </h1>
    </header>
    <aside>
      <ul class="aside-list">
        <li class="list-item"><a href="/manager">Dashboard</a></li>
        <li class="list-item"><a href="/manager/view">View Users</a></li>
        <li class="list-item"><a href="#">View Prescriptions</a></li>
        <li class="list-item"><a href="/manager/stocks">Manage Stock</a></li>
        <li class="list-item"><a href="/logout">Logout</a></li>
      </ul>
    </aside>
    <main>
      <section class="content">
        <h2 class="title">View Priscriptions</h2>
        <div class="container">
          <ul class="tabs-list">
            <li class="tab-item active">
              <h3 class="tab-title">Prescriptions</h3>
            </li>
          </ul>
          <div class="content">
            <table>
            <tr>
              <th>Prescription No</th>
              <th>Customer</th>
              <th>Invoice No</th>
              <th>Drug</th>
              <th>Strength</th>
              <th>Dose</th>
              <th>Quantity</th>
            </tr>
            <% if(locals.tableData && locals.tableData.length>0){
                 tableData.forEach(obj=>{%>
                 <tr><%
                   for(item in obj){%> 
                    <td><%= obj[item] %></td>
                    <% } %>
                 </tr>
                    <% })} %>
          </table>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
