<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Pharmacy System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/header-nav.css" />
    <link rel="stylesheet" href="./css/admin.css" />
    <script>
      let json = localStorage.getItem("info");
      let obj = JSON.parse(json);
      if (json) {
        if (obj.pos !== "pharmacist") {
          location.href = "/" + obj.pos;
        }
      } else {
        location.href = "/login";
      }
    </script>
  </head>
  <body>
    <header>
      <div class="logo-cont">
        <img
          src="./assets/logos/logo.png"
          class="main-logo"
          height="75"
          width="75"
        />
      </div>
      <h1>
        <a href="#">Pharmacy System</a>
      </h1>
    </header>
    <aside>
      <ul class="aside-list">
        <li class="list-item"><a href="#">Dashboard</a></li>
        <li class="list-item"><a href="/pharmacist/presc">Prescription</a></li>
        <li class="list-item"><a href="/pharmacist/stocks">Stock</a></li>
        <li class="list-item"><a href="/logout">Logout</a></li>
      </ul>
    </aside>
    <main>
      <div class="grid_7">
        <a href="#" class="dashboard-module">
          <img
            src="./assets/logos/pharmacy.png"
            width="75"
            height="75"
            alt="edit"
          />
          <span>Dashboard</span>
        </a>
        <a href="/pharmacist/presc" class="dashboard-module">
          <img
            src="./assets/logos/prescription.png"
            width="75"
            height="75"
            alt="edit"
          />
          <span>Prescription</span>
        </a>
        <a href="/pharmacist/stocks" class="dashboard-module">
          <img
            src="./assets/logos/stocks.png"
            width="75"
            height="75"
            alt="edit"
          />
          <span>Stocks</span>
        </a>
      </div>
    </main>
  </body>
</html>
