*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px auto;
    font-family: Lato, sans-serif;
}

header{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: hsl(210, 100%, 62%);
    display: flex;
    color: #fff;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    box-shadow: 0 3px 5px 0 #0004;
}

.logo-cont{
    background-color: #fff;
    clip-path: circle(35px at 50% 47%);
}

header a{
    color:#fff;
}

a{
    text-decoration: none;
}

aside{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: hsl(200, 70%, 95%);
}

.list-item a{
    padding: .7rem 1.3rem;
    font-size: 1.2rem;
    background-color: hsl(200, 70%, 65%);
    border-bottom: 1px solid #fff;
    display: block;
    color: #fff;
    transition: background-color 0.2s linear;
}

.list-item a:hover{
    background-color: hsl(200, 80%, 45%);
}