*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    background: url('../assets/body-back.jpg') center/cover no-repeat;
    font-family: Lato, sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    color: #222;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

header{
    padding: 1rem;
    border-bottom: 1px solid #222;
}

.sub-heading{
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-heading{
    font-size: 2rem;
}

.input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
    padding: .5rem 1rem;
    font-size: 1rem;
}

.select{
    background-color: transparent;
    border: 1px solid #333;
    font-size: 1rem;
    padding:.5rem;
    outline: none;
    border-radius: 5px;
}

.submit{
    align-self: center;
    padding: 0.6rem 1.8rem;
    font-size: 1rem;
    border-radius: 01rem;
    border: none;
    background-color: hsl(210, 100%, 62%);
    color: #fff;
}

a{
    font-size: .8rem;
    text-decoration: none;
     align-self: center;
}

.input.red,
.select.red{
    border-color: red;
}

.tred{
    color: red;
    text-align: center;
}